* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.landing{
    min-height: 100vh;
    background: url('../cropped.jpeg');
    background-size: cover;
    padding: 0rem 5rem;
}


.big-text{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4rem;
    font-family: "Dancing Script";
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.sub-text{
    position: fixed;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -60%);
    font-size: 3rem;
    font-family: "Dancing Script";
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.intro{
    background: rgb(194, 42, 42);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider{
    background: rgb(161,81,64);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
}

.intro-text{
    color: white;
    font-family: "Playfair Display", sans-serif;
    font-size: 1.2rem;
}

.hide{
    background: rgb(194, 42, 42);
    overflow: hidden;
}

.hide span{
    transform: translateY(100%);
    display: inline-block;
}

section{
    background-color: white;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
}

.container{
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
}

.video{
    background: rgb(0, 0, 0);
}